{
  "project_info": {
    "project_number": "877104608164",
    "project_id": "rezervator-mvazan",
    "storage_bucket": "rezervator-mvazan.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:877104608164:android:0a179844baaa783e7ec731",
        "android_client_info": {
          "package_name": "cz.kuzelky.rezervator"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REDACTED_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
